@model PickUpSports.Models.Event

@{
    ViewBag.Title = "JoinEvent";
}

<h2>JoinEvent</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Event</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.EventId)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Player.ApplicationUser.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.ApplicationUser.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SportsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SportsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfEvent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfEvent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFull)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Join" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
