@model IEnumerable<PickUpSports.Models.Event>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Created/Joined Events";
}

<h2><a href="https://fontmeme.com/fonts/college-font/"><img src="https://fontmeme.com/permalink/200124/c51ab5645b83a49dfcaaedb03e030ef6.png" alt="college-font" border="0"></a></h2>
<body class="eventback">

<h1>My Events</h1>

</body>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="border-color:dodgerblue">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.ApplicationUser.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SportsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfEvent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPlayers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFull)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player.ApplicationUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SportsName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfEvent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPlayers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFull)
        </td>       
        <td>
            @if (ViewBag.UserId == item.PlayerId)
            {
                @Html.ActionLink("Edit ", "Edit", new { id = item.EventId })
                @Html.ActionLink(" Delete ", "Delete", new { id = item.EventId }) 
            }
            @Html.ActionLink(" Details", "Details", new { id = item.EventId }) 
        </td>
    </tr>
}

</table>
